<div class="span12 basic-form-page">
  <div class="box form-container">
    <h3><i class="icon-th-large"></i>帳號管理 - <%= @user.account %></h3>
    <%= render :partial => "form" %>
    <br>
  </div>
</div>