@import "bootstrap-setting";
@import "twitter/bootstrap";
@import "bootstrap-override";

.social{
   float:left;
   width: 90px;
   padding: 5px;
   padding-top: 10px;
   border-right: none;
}
.social > div {
  height: 20px;
}
.social > div > * {
  display: block;
  float: left;
}

.group:before, .group:after {
   content: "";
   display: table;
}
.group:after {
   clear: both;
}
.group {
   zoom: 1; /* IE6&7 */
}

@import "compass/css3";

.basic-form-page {

  h3 {
    i {
      padding: 9px 10px;
      margin-right: 5px;
    }
    padding: 10px 5px;
  }

  .box {
    @include box-shadow( 0 1px 3px rgba(34,25,25,0.4) );
  }

  .form-container {
    background-color: #fff;
    background-color: rgba(255, 255, 255, .96);

    .simple_form {
      legend {
        color: #444;
        text-align: center;
        font-size: 115%;
        font-weight: bold;
        line-height: 1.5em;
        border-bottom: none;
        margin: 10px 0 0;
      }
      .control-group {
        .controls { margin-left: 130px; }
        .control-label, .control-label label {
          width: 110px;
          font-weight: bold;
        }
        label.checkbox {
          display: inline-block;
          vertical-align: bottom;
          margin-right: 110px;
        }
      }
    }
  }
  .form-container.register-buyble {
    .alert {
      width: auto;
      position: inherit;
      margin: 14px 0;
    }
    .field_with_errors input {
      border-color: #E9322D;
    }
  }
  .login-facebook {
    background-color: #EBEEF4;
    font-size: 105%;
    border: 1px solid #b8c3d8;
    h3 { display: none; }
    p { margin-bottom: 0; }
    .btn-facebook {
      font-size: 105%;
      margin-top: 4px; 
    }
  }
  .bottom-options {
    font-size: 95%;
    text-align: center;
    margin-bottom: 3em;
  }
}